# This is a basic workflow to help you get started with Actions

name: autoRun

# Controls when the action will run. 
on:
  schedule:
  - cron: "0 2 * * *"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
    
      - name: Setup python
        uses: actions/setup-python@v1
        with:
          node-version: '3.7.9'
      
      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          pip install -r requestments.txt
          python run.py ----cookie=${{ secrets.COOKIE }} --serverKey=${{ secrets.SERVERKEY }}
